.head {
    color: var(--primary-color);
}

.bigimg{
  padding-top: 10px;
}

.img{
  padding-bottom: 93px;
}

.smallimg1{
  padding-left: 3px;
}

.info{
  /* padding-left: 40px; */
  margin-left: 10rem;
}
.name{
  position: absolute;
  width: 447px;
  height: 25px;
  left: 792px;
  top: 150px;
  /* padding-left: 50px; */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 155%;
  /* identical to box height, or 25px */
  color: #000000;
}
.price{
  position: absolute;
  width: 114px;
  height: 50px;
  left: 796px;
  top: 193px;
  /* padding-left: 50px; */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 155%;
  /* identical to box height, or 50px */
  color: #000000;
}

.details{
  position: absolute;
  width: 209px;
  height: 25px;
  left: 937px;
  top: 211px;
  padding-top: 10px;
  /* padding-left: 50px; */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  /* identical to box height, or 25px */
  color: #000000;
}

.location{
  position: absolute;
  width: 447px;
  height: 25px;
  left: 796px;
  top: 243px;
  /* padding-left: 50px; */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 155%;
  /* identical to box height, or 25px */
  color: #000000;
}

.property{
  position: absolute;
  width: 180px;
  height: 28px;
  left: 797px;
  top: 370px;
  /* padding-left: 50px; */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 155%;
  /* identical to box height, or 28px */
  color: #000000;
}

.Description{
  position: absolute;
  width: 501px;
  height: 155px;
  left: 797px;
  top: 404px;
  /* padding-left: 50px; */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  /* or 27px */

  letter-spacing: 0.025em;
  color: #000000;
}

.subBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 245px;
  height: 35px;
  left: 777px;
  top: 290px;

  background: #F1E2D1;
  border-radius: 8px;
}

.subBtn:hover {
  background-color: var(--active-color);
}

.subBtn1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 200px;
  height: 35px;
  left: 1074px;
  top: 290px;

  border: 1px solid #F1E2D1;
  border-radius: 8px;
}

.subBtn1:hover {
  background-color: var(--active-color);
}


.Request{
  width: 138px;
  height: 28px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 155%;
  /* identical to box height, or 28px */
  color: #000000;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}